.landingPage {
  /* background-color: chocolate; */
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 97%;
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1602684379319-1de467ca74e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.msn {
  display: flex;
  background-color: #fdfdfda8;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.landingPage h2 {
  display: flex;
  background-color: #fdfdfda8;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  color: black;
}

.msn p {
  color: black;
}

.carruselConteainer {
  display: flex;
  flex-direction: row;
}
